<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <title> {% block title %}{% endblock %} -|- StoriBois</title>
        {% endblock %}
    </head>

    <body>

        <table border="1">
            <tr>
                <td>
                    <form action="/logout">
                        <input type="submit" name="logout" value="Log Out">
                    </form>
                </td>
            </tr>
        </table>
        <br>

        {% block content %}
        {% endblock %}

        <br>

        {% block footer %}
        <a href="/">Go back home</a>
        {% endblock %}

    </body>

</html>
