<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <title> {% block title %}{% endblock %} -|- StoriBois</title>
        {% endblock %}
		<link rel="stylesheet" type="text/css" href="../static/home.css">

    </head>

    <body>
        <form action="/logout">
            <input type="submit" name="logout" value="Log Out">
        </form>
        <br>

        {% block content %}
        {% endblock %}

        <br>

        {% block footer %}
        <a href="/">Go back home</a>
        {% endblock %}

    </body>

</html>
