<!DOCTYPE html>
<html>

    <head>
        <title> Register -|- StoriBois</title>
    </head>

    <body>
        <center>
            <h1>StoriBois</h1>
            <h3>Create Account</h2>
            <i><small>*No spaces please!*</small><br><small>Max username/password length: 25 characters</small></i>
            {% set msgs = get_flashed_messages() %}
            {% for msg in msgs %}
            <p>{{ msg }}</p>
            {% endfor %}
            <form action="/create_account_action" method="POST">
                <label for="username">Username: </label>
                <input type="text" name="username" maxlength="25" required>
                <br>
                <label for="password">Password: </label>
                <input type="password" name="password" maxlength="25" required>
                <br>
                <label for="password_check">Retype password: </label>
                <input type="password" name="password_check" maxlength="25" required>
                <br>
                <input type="submit" name="action" value="Create Account">
            </form>
        </center>
        <br>
        <a href="/">Go back to landing page</a>
    </body>
</html>
