{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<center>

    <h1>StoryBois</h1>
     <p class="msg">Welcome <strong>{{ username }}</strong></p>

    {% set msgs = get_flashed_messages() %}
    {% for msg in msgs %}
    <p class="msg">{{ msg }}</p>
    {% endfor %}

    <br>

    <form action="/home_action" method="POST">
        <input type="submit" name="action" value="Create a story">
        <input type="submit" name="action" value="Add to a story">
        <input type="submit" name="action" value="View stories you've edited">
    </form>

    <br>

    {% block footer %}

    {% endblock %}

</center>

{% endblock %}
