<!DOCTYPE html>
<html>

    <head>
        <title> Landing -|- StoriBois</title>
		<link rel="stylesheet" type="text/css" href="../static/landing.css">
    </head>

    <body>
        <center>
            <h1>StoriBois</h1>
            {% set msgs = get_flashed_messages() %}
            {% for msg in msgs %}
            <p>{{ msg }}</p>
            {% endfor %}
            <form action="/login" method="POST">

                <label for="username">Username: </label>
                <input type="text" name="username" maxlength="25">
                <br>
                <label for="password">Password:  </label>
                <input type="password" name="password" maxlength="25">
                <br>
				<br>
                <input type="submit" name="action" value="Login">
				<br>
				<p><i>Don't have an account? Make one! </i><input type="submit" name="action" value="Create Account">

            </form>
        </center>
    </body>
</html>
